discord.py==2.3.2
python-dotenv==1.0.1
aiohttp==3.9.5
requests==2.31.0
python-whois==0.8.0
dnspython==2.4.2
cryptography==42.0.5
Pillow==10.0.0
pyexiftool==0.5.5
aiofiles==23.2.1
scapy==2.5.0
feedparser==6.0.10
validators==0.22.0
googletrans==4.0.0-rc1
